table#gallery {
  margin: 15px 0px;
  float: center;
  width: 100%;
}

table#gallery img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #000;
  border-radius: 14px;
}

/* X button */
.close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 300ms;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .photo_modal_img {
    width: 100%;
  }
}