.overlay {
  height: 100%;
  width: 100%;
  position: auto;
  z-index: 1;
  left: 0;
  background-color: rgba(18, 17, 17, 0.9);
  overflow-y: hidden;
  transition: 500ms;
}

.overlay-content {
  position: relative;
  top: 0;
  width: 60%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #e3e3e3;
  display: block;
  transition: 300ms;
}

.overlay a:hover, .overlay a:focus {
  color: #52a9f5;
}

.overlay .closebutton {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto};
  .overlay a {font-size: 20px}
  .overlay .closebutton {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.specify {
  width: 30%;
  height: 20px;
  font-size: 16px;
}

.year-slider {
  position: relative;
  width: 1000px;
  height: 35px;
  text-align: center;
  color: #e3e3e3;
}

#specify-button { 
  width: 80px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}