.galleryDivider {
  border: 1px solid rgb(28, 27, 27);
  background-color: rgba(244, 237, 237, 0.75);
  border-radius: 14px;
  margin: 3px 3px;
  transition: 300ms;
  text-align: center;
}

.galleryDivider:hover {
  box-shadow: 10px 10px 153px #e4dada;
  cursor: pointer;
  opacity: 0.8;
}
